
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TutorialWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
</head>
<body>
    <!-- 自定义的 Navbar -->
    <nav class="navbar">
        <div class="left-links">
            <a>-</a>
        </div>
        <div class="right-links">
            <a href="/">🏠</a>
            <a href="./ricksroll.html" target="_blank">🔥</a>
        </div>
    </nav>

    <!-- 页面内容 -->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- 自定义的 Footer -->
    <footer class="footer">
        <div class="footer-left">
            <p></p>
        </div>
        <div class="footer-right">
            <a href="https://steamcommunity.com/profiles/76561199230499717/" target="_blank">
                <img src="~/images/Steam_icon_logo.svg.png" alt="Steam" class="icon">
            </a>
            <a href="https://x.com/Red40602025" target="_blank">
                <img src="~/images/twitter.png" alt="Twitter" class="icon">
            </a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>




@* <!DOCTYPE html> *@
@* <html lang="en"> *@
@* <head> *@
@*     <meta charset="utf-8" /> *@
@*     <meta name="viewport" content="width=device-width, initial-scale=1.0" /> *@
@*     <title>@ViewData["Title"] - TutorialWeb</title> *@
@*     <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> *@
@*     <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" /> *@
@*     <link rel="stylesheet" href="~/TutorialWeb.styles.css" asp-append-version="true" /> *@
@* </head> *@
@* <body> *@
@*     <header> *@
@*         <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"> *@
@*             <div class="container-fluid"> *@
@*                 <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">TutorialWeb</a> *@
@*                 <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" *@
@*                         aria-expanded="false" aria-label="Toggle navigation"> *@
@*                     <span class="navbar-toggler-icon"></span> *@
@*                 </button> *@
@*                 <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between"> *@
@*                     <ul class="navbar-nav flex-grow-1"> *@
@*                         <li class="nav-item"> *@
@*                             <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a> *@
@*                         </li> *@
@*                         <li class="nav-item"> *@
@*                             <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
@*                         </li> *@
@*                         <li class="nav-item"> *@
@*                             <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Expenses">Expenses</a> *@
@*                         </li> *@
@*                         <li class="nav-item"> *@
@*                             <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="CreateEditExpense">CreateEditExpense</a> *@
@*                         </li> *@
@*                     </ul> *@
@*                     <partial name="_LoginPartial" /> *@
@*                 </div> *@
@*             </div> *@
@*         </nav> *@
@*     </header> *@
@*     <div class="container"> *@
@*         <main role="main" class="pb-3"> *@
@*             @RenderBody() *@
@*         </main> *@
@*     </div> *@

@*     <footer class="border-top footer text-muted"> *@
@*         <div class="container"> *@
@*             &copy; 2025 - TutorialWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
@*         </div> *@
@*     </footer> *@
@*     <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
@*     <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script> *@
@*     <script src="~/js/site.js" asp-append-version="true"></script> *@
@*     @await RenderSectionAsync("Scripts", required: false) *@
@* </body> *@
@* </html> *@
