@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>🌐</title>
    <link rel="stylesheet" href="~/wwwroot/css/styles.css">
</head>
<body>

    <div class="content">
        <img src="~/images/selective-focus-irritated-programmer-breaking-600nw-1500472652.webp" class="content-image" style="margin-top: 50px;">
        <a href="https://red-2016.github.io/blog" target="_blank"><button class="rounded-button">?</button></a>
        <img src="~/images/微信图片_20241101210249.jpg" class="content-image">
        <a asp-area="" asp-controller="Home" asp-action="EmojiTranslation"><button class="rounded-button">?</button></a>
        <img src="~/images/tools_image.jpg" class="content-image">
        <a asp-area="" asp-controller="Home" asp-action="Tools"><button class="rounded-button">?</button></a>
        <img src="~/images/微信图片_20241031220821.jpg" class="content-image">
        <a href="/book_summary.html"><button class="rounded-button">?</button></a>
    </div>

</body>
</html>


