@{
	Layout = "_Layout";
}

<div class="content">
	<div class="image-container">
		<img src="~/images/hacker.webp" alt="Hacker Image" width="650" class="content-image" />
	</div>
	<span class="content-title"><h1>我的密码泄露了吗？</h1></span>
	<h1 class="link-with-margin"><a href="https://haveibeenpwned.com/" target="_blank" rel="noopener noreferrer">haveibeenpwned.com</a></h1>

	<div class="image-container">
		<img src="~/images/ipadress.jpg" alt="IP Address Image" width="650" class="content-image" />
	</div>
	<span class="content-title"><h1>查找IP地址</h1></span>
	<h1 class="link-with-margin"><a href="https://zoomeye.org/" target="_blank" rel="noopener noreferrer">zoomeye.org</a></h1>

	<div class="image-container">
		<img src="~/images/lksweb.png" alt="LKS Web Image" width="650" class="content-image" />
	</div>
	<span class="content-title"><h1>好玩的网站（作者：lks）</h1></span>
	<h1 class="link-with-margin"><a href="https://lkssite.vip/" target="_blank" rel="noopener noreferrer">lkssite.vip</a></h1>

	<div class="image-container">
		<img src="~/images/krunker.png" alt="Krunker Image" width="650" class="content-image" />
	</div>
	<span class="content-title"><h1>电脑课摸鱼枪战游戏</h1></span>
	<h1 class="link-with-margin"><a href="https://krunker.io" target="_blank" rel="noopener noreferrer">krunker.io</a></h1>

	<div class="image-container">
		<img src="~/images/HKU logo.jpg" alt="HKU Logo" width="650" class="content-image" />
	</div>
	<span class="content-title"><h1>报考香港大学</h1></span>
	<h1 class="link-with-margin"><a href="https://admissions.hku.hk/" target="_blank" rel="noopener noreferrer">做梦</a></h1>
</div>